@model Blog.ViewModels.BlogViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    &nbsp;
    <div class="alert alert-info">
        <h3>List of @Model.NumberOfBlogs blogs</h3>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.TheBlogs[0].BlogTitle)*@
            Blog Title
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TheBlogs[0].BlogAuthor)*@
            Blog Author
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var blog in Model.TheBlogs) {
            <tr>
                <td>
                    @blog.BlogTitle
                </td>
                <td>
                    @blog.BlogAuthor
                </td>
                <td>
                    @Html.ActionLink("More", "Details", new { id=blog.BlogTitle })
                </td>
            </tr>
        }

</table>
